@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
body {
    background-image: linear-gradient(to right, transparent 0%, #e1d3b6 50%, #7B7167 100%),
    linear-gradient(to left, transparent 0%, #7B7167 100%);
}
header {
    background-image: url(https://www.xtrafondos.com/descargar.php?id=4007&resolucion=3840x2160);
    background-size: cover;
    background-position:center;
    height: 300px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 5);
}
header h1 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
    text-shadow: 2px 3px 10px #000;
    font-weight: 700;
    font-size: 60px;
}
.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #9f8248;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item {
    width: 100%;
}
.contenedor .contenedor-items .item:hover {
    box-shadow: 10px 10px 10px 3px #ffe1a6;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #4e3e1d;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito {
    border: 1px solid #9f8248;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito {
    background-color: #9f8248;
    color: #fff;
    text-shadow: 2px 3px 8px #000;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #4e3e1d;
    padding: 20px;
}
.carrito .carrito-item img {
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    text-shadow: 2px 3px 10px #000;
    padding: 30px;
}
.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #4e3e1d;
    color: #fff;
    text-shadow: 2px 3px 10px #000;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover {
    scale: 1.05;
}

@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }